@font-face {
   font-family: 'Modern No. 20';
   src: url('../../font/Modern-Regular.eot');
   src: url('../../font/Modern-Regular.eot') format('embedded-opentype'),
      url('../../font/Modern-Regular.woff2') format('woff2'),
      url('../../font/Modern-Regular.woff') format('woff'),
      url('../../font/Modern-Regular.ttf') format('truetype'),
      url('../../font/Modern-Regular.svg') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}